name: Build and Publish Wolfi packages on GitHub pages

on:
  workflow_dispatch:
  push:
    branches: 
      - main
    paths:
      - '*.yaml'
      - '!.yam.yaml'
      - '!tests/*.yaml'

permissions:
  contents: write

jobs:
  changed-files:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.changes.outputs.melange_all_changed_files }}
    steps:
      - uses: actions/checkout@v6

      - name: Look for changed files
        id: changes
        uses: tj-actions/changed-files@v47
        with:
          matrix: true
          files_ignore_yaml: |
            melange:
              - .yam.yaml
          files_yaml: |
            melange:
              - ./*.yaml
      
      - name: List all changed files
        run: echo '${{ steps.changes.outputs.melange_all_changed_files }}'
        
  build:
    needs: changed-files
    strategy:
      matrix:
        package: ${{ fromJson(needs.changed-files.outputs.matrix) }}
        include:
          - os: ubuntu-24.04
            arch: x86_64
          - os: ubuntu-24.04-arm
            arch: aarch64
    concurrency:
      group: build-${{ matrix.package }}-${{ matrix.os }}
      cancel-in-progress: false
    runs-on: ${{ matrix.os }}
    name: Build ${{ matrix.package }} | ${{ matrix.arch }}
    steps:
      - uses: actions/checkout@v6

      - uses: glimmer-labs/wolfi/.github/actions/setup-melange@main

      - name: Get signing key
        run: echo "${{ secrets.SIGNING_KEY }}" > glimmer-labs-signing.rsa

      - uses: actions/cache@v5
        with:
          path: apk-cache
          key: ${{ matrix.arch }}-apk-cache
              
      - name: Build packages
        run: |
          export SOURCE_DATE_EPOCH=$(git log -1 --format=%ct)

          packageName=${{ matrix.package }}
          packageName=${packageName%.yaml}

          melange build \
            -r https://packages.wolfi.dev/os \
            -k https://packages.wolfi.dev/os/wolfi-signing.rsa.pub \
            -r https://glimmer-labs.github.io/wolfi \
            -k https://glimmer-labs.github.io/wolfi/glimmer-labs-signing.rsa.pub \
            --arch ${{ matrix.arch }} \
            --generate-index=false \
            --apk-cache-dir apk-cache \
            --signing-key glimmer-labs-signing.rsa \
            --git-repo-url=https://github.com/glimmer-labs/wolfi \
            --git-commit=${{ github.sha }} \
            --pipeline-dir=./pipelines \
            --source-dir=./${packageName} \
            ${{ matrix.package }}

      - name: Archive packages artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.package }}-${{ matrix.arch }}
          path: packages/

      - name: Fix APK cache permissions for upload
        if: always()
        run: sudo chown -R $USER:$USER apk-cache || true

  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: apk-repository

      - name: Download all workflow artifacts
        uses: actions/download-artifact@v7
        with:
          path: .
          merge-multiple: true

      - name: Set .gitignore
        run: echo "*.rsa" > .gitignore # FALLBACK IN CASE glimmer-labs-signing.rsa IS PRESENT

      - name: Commit packages to GitHub pages branch
        uses: EndBug/add-and-commit@v9
        with:
          add: .
          message: "Publish changes from commit ${{ github.sha }}"
