name: Build and Publish Wolfi packages on GitHub pages

on:
  workflow_dispatch:
  push:
    branches: 
      - main
    paths:
      - '*.yaml'
      - '!.yam.yaml'
      - '!tests/*.yaml'

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            arch: x86_64
          - os: ubuntu-24.04-arm
            arch: aarch64
    concurrency:
      group: build-${{ matrix.os }}
      cancel-in-progress: false
    runs-on: ${{ matrix.os }}
    container:
        image: ghcr.io/wolfi-dev/sdk:latest
        options: |
            --cap-add NET_ADMIN --cap-add SYS_ADMIN --device /dev/fuse --security-opt seccomp=unconfined --security-opt apparmor:unconfined
    steps:
      - uses: actions/checkout@v6

      - name: Trust the github workspace
        run: git config --global --add safe.directory "$(pwd)"

      - name: Look for changed files
        id: changes
        uses: tj-actions/changed-files@v47
        with:
          files_ignore_yaml: |
            melange:
              - .yam.yaml
              - tests/*.yaml
          files_yaml: |
            melange:
              - ./*.yaml

      - name: Create packages directory
        run: mkdir -p packages

      - name: Get signing key
        run: echo "${{ secrets.SIGNING_KEY }}" > glimmer-labs-signing.rsa

      - name: Build packages
        run: |
          for file in ${{ steps.changes.outputs.melange_all_changed_files }}; do
              if [[ $file == ".yam.yaml" ]]; then
                  continue
              fi

              packageName=${file%.yaml}

              mkdir -p "${packageName}"

              melange build \
                  --arch ${{ matrix.arch }} \
                  --generate-index=false \
                  -r https://packages.wolfi.dev/os \
                  -k https://packages.wolfi.dev/os/wolfi-signing.rsa.pub \
                  -r https://glimmer-labs.github.io/wolfi \
                  -k https://glimmer-labs.github.io/wolfi/glimmer-labs-signing.rsa.pub \
                  --signing-key glimmer-labs-signing.rsa \
                  --git-repo-url=https://github.com/glimmer-labs/wolfi \
                  --git-commit=${{ github.sha }} \
                  --pipeline-dir=./pipelines \
                  --source-dir=./${packageName} \
                  $file
          done

      - name: Archive packages artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.arch }}
          path: packages/

  publish:
    needs: build
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/wolfi-dev/sdk:latest
      options: |
          --cap-add NET_ADMIN --cap-add SYS_ADMIN --device /dev/fuse --security-opt seccomp=unconfined --security-opt apparmor:unconfined
    steps:
      - uses: actions/checkout@v6
        with:
          ref: apk-repository

      - name: Trust the github workspace
        run: git config --global --add safe.directory "$(pwd)"

      - name: Get keys
        run: |
          echo "*.rsa" > .gitignore # FALLBACK IN CASE glimmer-labs-signing.rsa IS NOT REMOVED
          echo "${{ secrets.SIGNING_KEY }}" > glimmer-labs-signing.rsa # MUST BE REMOVED BEFORE COMMIT
          echo "${{ secrets.PUBLIC_KEY }}" > glimmer-labs-signing.rsa.pub

      - name: Download all workflow artifacts
        uses: actions/download-artifact@v7
        with:
          path: .
          merge-multiple: true

      - name: Create/update repository index
        run: |
          for arch in x86_64 aarch64; do
            melange index \
              --arch ${arch} \
              --merge \
              --source ${arch}/APKINDEX.tar.gz \
              --output ${arch}/APKINDEX.tar.gz \
              --signing-key glimmer-labs-signing.rsa \
              ${arch}/*.apk
          done

      - name: Remove signing key
        run: rm glimmer-labs-signing.rsa

      - name: Commit to GitHub pages branch
        uses: EndBug/add-and-commit@v9
        with:
          add: .
          message: "Publish changes from commit ${{ github.sha }}"
