name: Build and Deploy Wolfi packages

on:
  workflow_dispatch:
  push:
    branches: 
      - main
    paths:
      - '*.yaml'
      - '!.yam.yaml'
      - '!tests/*.yaml'

permissions:
  contents: write

jobs:
  changed-files:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.changes.outputs.melange_all_changed_files }}
    steps:
      - uses: actions/checkout@v6

      - name: Look for changed files
        id: changes
        uses: tj-actions/changed-files@v47
        with:
          matrix: true
          files_ignore_yaml: |
            melange:
              - .yam.yaml
          files_yaml: |
            melange:
              - ./*.yaml
      
      - name: List all changed files
        run: echo '${{ steps.changes.outputs.melange_all_changed_files }}'
        
  build:
    needs: changed-files
    strategy:
      matrix:
        package: ${{ fromJson(needs.changed-files.outputs.matrix) }}
        arch: [x86_64, aarch64]
        include:
          - arch: x86_64
            os: ubuntu-24.04
          - arch: aarch64
            os: ubuntu-24.04-arm
    concurrency:
      group: build-${{ matrix.package }}-${{ matrix.os }}
      cancel-in-progress: false
    runs-on: ${{ matrix.os }}
    name: Build ${{ matrix.package }} | ${{ matrix.arch }}
    steps:
      - uses: actions/checkout@v6

      - uses: glimmer-labs/wolfi/.github/actions/setup-melange@main

      - name: Get signing key
        run: echo "${{ secrets.SIGNING_KEY }}" > glimmer-labs-signing.rsa

      - uses: actions/cache@v5
        with:
          path: apk-cache
          key: ${{ matrix.arch }}-apk-cache
              
      - name: Build packages
        run: |
          export SOURCE_DATE_EPOCH=$(git log -1 --format=%ct)

          packageName=${{ matrix.package }}
          packageName=${packageName%.yaml}

          melange build \
            -r https://packages.wolfi.dev/os \
            -k https://packages.wolfi.dev/os/wolfi-signing.rsa.pub \
            -r https://wolfi.glimmerlabs.dev \
            -k https://wolfi.glimmerlabs.dev/glimmer-labs-signing.rsa.pub \
            --arch ${{ matrix.arch }} \
            --generate-index=false \
            --apk-cache-dir apk-cache \
            --signing-key glimmer-labs-signing.rsa \
            --git-repo-url=https://github.com/glimmer-labs/wolfi \
            --git-commit=${{ github.sha }} \
            --pipeline-dir=./pipelines \
            --source-dir=./${packageName} \
            ${{ matrix.package }}

      - name: Archive packages artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.package }}-${{ matrix.arch }}
          path: packages/

      - name: Fix APK cache permissions for upload
        if: always()
        run: sudo chown -R $USER:$USER apk-cache || true

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download all workflow artifacts
        uses: actions/download-artifact@v7
        with:
          path: .
          merge-multiple: true 

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.APK_DEPLOY_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.APK_DEPLOY_HOST }} >> ~/.ssh/known_hosts

      - name: Upload APKs
        run: |
          rsync -avz --delay-updates --partial x86_64/ ${{ secrets.APK_DEPLOY_USER }}@${{ secrets.APK_DEPLOY_HOST }}:/apk/x86_64/
          rsync -avz --delay-updates --partial aarch64/ ${{ secrets.APK_DEPLOY_USER }}@${{ secrets.APK_DEPLOY_HOST }}:/apk/aarch64/

      - name: Regenerate APK index
        run: |
          ssh ${{ secrets.APK_DEPLOY_USER }}@${{ secrets.APK_DEPLOY_HOST }} << EOF
            set -e
            cd /apk

            for arch in x86_64 aarch64; do
              sudo melange index \
                  --arch \$arch \
                  --merge \
                  --source \$arch/APKINDEX.tar.gz \
                  --output \$arch/APKINDEX.tar.gz \
                  --signing-key /key/glimmer-labs-signing.rsa \
                  \$arch/*.apk
            done
          EOF

      - name: Purge cache
        uses: jakejarvis/cloudflare-purge-action@master
        env:
          CLOUDFLARE_ZONE: ${{ secrets.CLOUDFLARE_ZONE }}
          CLOUDFLARE_TOKEN: ${{ secrets.CLOUDFLARE_TOKEN }}
          PURGE_URLS: '["https://wolfi.glimmerlabs.dev/x86_64/APKINDEX.tar.gz", "https://wolfi.glimmerlabs.dev/aarch64/APKINDEX.tar.gz"]'