name: Melange Updater (GitHub and Release Monitor)

on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *" # Triggers the workflow every hour

permissions:
  issues: write  
  contents: write
  pull-requests: write

env:
  GIT_AUTHOR_NAME: Haruki1707
  GIT_AUTHOR_EMAIL: 72423267+Haruki1707@users.noreply.github.com

jobs:
  update:
    if: github.repository == 'glimmer-labs/wolfi'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: glimmer-labs/melange-updater@main
      with:
        repository: ${{ github.repository }}
        token: ${{ secrets.GITHUB_TOKEN }}
        git_author_name: ${{ env.GIT_AUTHOR_NAME }}
        git_author_email: ${{ env.GIT_AUTHOR_EMAIL }}
        github-labels: 'request-version-update,automated pr'