name: Melange Updater (GitHub and Release Monitor)

on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *" # Triggers the workflow every hour

permissions:
  id-token: write

env:
  GIT_AUTHOR_NAME: Haruki1707
  GIT_AUTHOR_EMAIL: 72423267+Haruki1707@users.noreply.github.com

jobs:
  update:
    if: github.repository == 'glimmer-labs/wolfi'
    runs-on: ubuntu-latest
    steps:
      - uses: octo-sts/action@v1.1.1
        id: octo-sts
        with:
          scope: ${{ github.repository }}
          identity: melange-updater
      
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          token: ${{ steps.octo-sts.outputs.token }}

      - uses: glimmer-labs/melange-updater@main
        with:
          repository: ${{ github.repository }}
          token: ${{ steps.octo-sts.outputs.token }}
          git_author_name: ${{ env.GIT_AUTHOR_NAME }}
          git_author_email: ${{ env.GIT_AUTHOR_EMAIL }}
          github_labels: 'request-version-update,automated pr'
          release_monitor_token: ${{ secrets.RELEASE_MONITOR_TOKEN }}