name: Pull Request Check

on:
  pull_request:
    types:
      - ready_for_review
    paths:
      - "*.yaml"
      - '!.yam.yaml'
      - '!tests/*.yaml'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Look for changed files
        id: changes
        uses: tj-actions/changed-files@v47
        with:
          files_ignore_yaml: |
            melange:
              - .yam.yaml
          files_yaml: |
            melange:
              - ./*.yaml

      - name: Lint using Wolfictl
        uses: wolfi-dev/actions/wolfictl-lint@main
        with:
          args: ${{ steps.changes.outputs.melange_all_changed_files }}

  build-test:
    if: ${{ !github.event.pull_request.draft }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: glimmer-labs/wolfi/.github/actions/setup-melange@main

      - name: Look for changed files
        id: changes
        uses: tj-actions/changed-files@v47
        with:
          files_ignore_yaml: |
            melange:
              - .yam.yaml
          files_yaml: |
            melange:
              - ./*.yaml
      
      - name: APK cache
        uses: actions/cache@v5
        with:
          path: apk-cache
          key: x86_64-apk-cache

      - name: Build all packages
        run: |
          melange keygen

          for file in ${{ steps.changes.outputs.melange_all_changed_files }}; do
              packageName=${file%.yaml}

              mkdir -p "${packageName}"

              melange build \
                --apk-cache-dir apk-cache \
                --arch x86_64 \
                --generate-index=false \
                -r https://packages.wolfi.dev/os \
                -k https://packages.wolfi.dev/os/wolfi-signing.rsa.pub \
                -r https://glimmer-labs.github.io/wolfi \
                -k https://glimmer-labs.github.io/wolfi/glimmer-labs-signing.rsa.pub \
                --signing-key melange.rsa \
                --git-repo-url=https://github.com/glimmer-labs/wolfi \
                --git-commit=${{ github.sha }} \
                --pipeline-dir=./pipelines \
                --source-dir=./${packageName} \
                $file
          done

      - name: Fix APK cache permissions for upload
        if: always()
        run: sudo chown -R $USER:$USER apk-cache || true