name: Pull Request Check

on:
  pull_request:
    paths:
      - "**/*.yaml"
      - '!.yam.yaml'
      - '!.github/pipelines/**/*.yaml'

jobs:
  changed-files:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.changes.outputs.melange_all_changed_files }}
    steps:
      - uses: actions/checkout@v6

      - name: Look for changed files
        id: changes
        uses: tj-actions/changed-files@v47
        with:
          matrix: true
          files_ignore_yaml: |
            melange:
              - .yam.yaml
              - .github/pipelines/**/*.yaml
          files_yaml: |
            melange:
              - ./**/*.yaml
      
      - name: List all changed files
        run: echo '${{ steps.changes.outputs.melange_all_changed_files }}'

  lint:
    runs-on: ubuntu-latest
    needs: changed-files
    steps:
      - uses: actions/checkout@v6

      - name: Get changed files in space separated string
        id: changes
        run: echo "files=$(jq -r 'join(" ")' <<< '${{ needs.changed-files.outputs.matrix }}')" >> "$GITHUB_OUTPUT"

      - name: Lint using Wolfictl
        uses: wolfi-dev/actions/wolfictl-lint@main
        with:
          args: ${{ steps.changes.outputs.files }}

  build-test:
    if: ${{ !github.event.pull_request.draft }}
    runs-on: ubuntu-latest
    needs: changed-files
    strategy:
      matrix:
        package: ${{ fromJson(needs.changed-files.outputs.matrix) }}
      fail-fast: false
    name: Build test ${{ matrix.package }} | x86_64
    steps:
      - uses: actions/checkout@v6

      - uses: glimmer-labs/wolfi/.github/actions/setup-melange@main
      
      - uses: actions/cache@v5
        if: ${{ !env.ACT }}
        with:
          path: apk-cache
          key: x86_64-apk-cache
        
      - run: melange keygen melange.rsa

      - name: Build package
        run: |
          packageName=${{ matrix.package }}
          packageName=${packageName%.yaml}

          melange build \
            -r https://wolfi.glimmerlabs.dev \
            -k https://wolfi.glimmerlabs.dev/glimmer-labs-signing.rsa.pub \
            -r https://packages.wolfi.dev/os \
            -k https://packages.wolfi.dev/os/wolfi-signing.rsa.pub \
            --arch x86_64 \
            --generate-index=false \
            --apk-cache-dir apk-cache \
            --signing-key melange.rsa \
            --git-repo-url=https://github.com/glimmer-labs/wolfi \
            --git-commit=${{ github.sha }} \
            --pipeline-dir=./.github/pipelines \
            --source-dir=./${packageName} \
            ${{ matrix.package }}

      - name: Fix APK cache permissions for upload
        if: always()
        run: sudo chown -R $USER:$USER apk-cache || true